/* GLOBAL sWITCH TO BOARDER-BOX, TEXT-ALIGN CENTER AND THE CLEARFIX */

* {
    box-sizing: border-box;
    text-align: center;
  }

  .cf{
    clear: both;
    overflow: auto;
  }

h1{
      color:blue;
      width: 100%;
      border-bottom: 3px solid black;
      margin: 0px;
      padding: 0px;
      font-size: 60pt;
      
  }

  header{
      margin-bottom: 5px;
  }
  
  body{
      background-image: url(../images/bluebackground.png);
      background-size: cover;
  }

  .card{
      float: left;
      margin: 3px;
  }

  .gif-btn{
      margin: 3px;
  }

  